<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>兰州</string>
			</dict>
			<dict>
				<key>city</key>
				<string>金昌</string>
			</dict>
			<dict>
				<key>city</key>
				<string>甘南藏族</string>
			</dict>
			<dict>
				<key>city</key>
				<string>平凉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>嘉峪关</string>
			</dict>
			<dict>
				<key>city</key>
				<string>天水</string>
			</dict>
			<dict>
				<key>city</key>
				<string>白银</string>
			</dict>
			<dict>
				<key>city</key>
				<string>武威</string>
			</dict>
			<dict>
				<key>city</key>
				<string>张掖</string>
			</dict>
			<dict>
				<key>city</key>
				<string>庆阳</string>
			</dict>
			<dict>
				<key>city</key>
				<string>定西</string>
			</dict>
			<dict>
				<key>city</key>
				<string>临夏回族</string>
			</dict>
			<dict>
				<key>city</key>
				<string>酒泉</string>
			</dict>
			<dict>
				<key>city</key>
				<string>陇南</string>
			</dict>
		</array>
		<key>state</key>
		<string>甘肃</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>宜宾</string>
			</dict>
			<dict>
				<key>city</key>
				<string>巴中</string>
			</dict>
			<dict>
				<key>city</key>
				<string>南充</string>
			</dict>
			<dict>
				<key>city</key>
				<string>成都</string>
			</dict>
			<dict>
				<key>city</key>
				<string>凉山彝族</string>
			</dict>
			<dict>
				<key>city</key>
				<string>眉山</string>
			</dict>
			<dict>
				<key>city</key>
				<string>阿坝</string>
			</dict>
			<dict>
				<key>city</key>
				<string>乐山</string>
			</dict>
			<dict>
				<key>city</key>
				<string>绵阳</string>
			</dict>
			<dict>
				<key>city</key>
				<string>广安</string>
			</dict>
			<dict>
				<key>city</key>
				<string>广元</string>
			</dict>
			<dict>
				<key>city</key>
				<string>德阳</string>
			</dict>
			<dict>
				<key>city</key>
				<string>资阳</string>
			</dict>
			<dict>
				<key>city</key>
				<string>达州</string>
			</dict>
			<dict>
				<key>city</key>
				<string>泸州</string>
			</dict>
			<dict>
				<key>city</key>
				<string>自贡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>遂宁</string>
			</dict>
			<dict>
				<key>city</key>
				<string>甘孜藏族</string>
			</dict>
			<dict>
				<key>city</key>
				<string>雅安</string>
			</dict>
			<dict>
				<key>city</key>
				<string>内江</string>
			</dict>
			<dict>
				<key>city</key>
				<string>攀枝花</string>
			</dict>
		</array>
		<key>state</key>
		<string>四川</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>咸阳</string>
			</dict>
			<dict>
				<key>city</key>
				<string>铜川</string>
			</dict>
			<dict>
				<key>city</key>
				<string>商洛</string>
			</dict>
			<dict>
				<key>city</key>
				<string>榆林</string>
			</dict>
			<dict>
				<key>city</key>
				<string>渭南</string>
			</dict>
			<dict>
				<key>city</key>
				<string>汉中</string>
			</dict>
			<dict>
				<key>city</key>
				<string>安康</string>
			</dict>
			<dict>
				<key>city</key>
				<string>延安</string>
			</dict>
			<dict>
				<key>city</key>
				<string>宝鸡</string>
			</dict>
			<dict>
				<key>city</key>
				<string>西安</string>
			</dict>
		</array>
		<key>state</key>
		<string>陕西</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>黄南</string>
			</dict>
			<dict>
				<key>city</key>
				<string>海东</string>
			</dict>
			<dict>
				<key>city</key>
				<string>果洛</string>
			</dict>
			<dict>
				<key>city</key>
				<string>西宁</string>
			</dict>
			<dict>
				<key>city</key>
				<string>海北</string>
			</dict>
			<dict>
				<key>city</key>
				<string>玉树</string>
			</dict>
			<dict>
				<key>city</key>
				<string>海南</string>
			</dict>
			<dict>
				<key>city</key>
				<string>海西</string>
			</dict>
		</array>
		<key>state</key>
		<string>青海</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>city</key>
				<string>石嘴山</string>
			</dict>
			<dict>
				<key>city</key>
				<string>固原</string>
			</dict>
			<dict>
				<key>city</key>
				<string>中卫</string>
			</dict>
			<dict>
				<key>city</key>
				<string>银川</string>
			</dict>
			<dict>
				<key>city</key>
				<string>吴忠</string>
			</dict>
		</array>
		<key>state</key>
		<string>宁夏</string>
	</dict>
</array>
</plist>
